.slide-one {
  background-image: url('../../../assets/images/slide-one.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #F6F6F8;
}

.slide-two {
  background-image: url('../../../assets/images/slide-two.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #F6F6F8;
}

.slide-three {
  background-image: url('../../../assets/images/slide-three.jpeg');
  background-size: cover;
  background-position: center;
  color: #F6F6F8;
  background-repeat: no-repeat;
}

.slide-four {
  background-image: url('../../../assets/images/slide-four.jpg');
  background-size: cover;
  background-position: center;
  color: #F6F6F8;
  background-repeat: no-repeat;
}

.slide-five {
  background-image: url('../../../assets/images/slide-five.jpg');
  background-size: cover;
  background-position: center;
  color: #F6F6F8;
  background-repeat: no-repeat;
}